@import '../../../assets/styles/colors.module.scss';

.layout {
  background-color: $auth-layout-background;
  height: calc(100% - 5rem); // Deduct the height of header
  padding: 1rem;
  overflow: auto;
}