@import '../../../assets/styles/colors.module.scss';

.layout {
  background-color: $auth-layout-background;
  position: relative;
  height: 100%;

  .childrenWrapper {
    padding: 1.5rem;
    height: calc(100% - 5rem);
  }

}