@import '../../../../assets//styles/global.scss';
@import '../../../../assets/styles/colors.module.scss';

.closedInput {
  @extend .column;
  display: flex;
  background-color: $light-black;
  transition: background-color 0.1s linear;
  cursor: pointer;
  align-items: center;

  .icon {
    fill: $dark-gray;
    margin-right: 0.2rem;
  }

  &:hover {
    background-color: $dark-black;
  }
}

.openedInput {
  @extend .column;
  background-color: $light-gray;
  
  .input {
    background-color: $white;
  }

  .actions {
    display: flex;
    align-items: center;
    margin-top: 6px;

    .icon {
      margin-left: 6px;
      cursor: pointer;
    }
  }
}