@import '../../assets/styles/colors.scss';

.root {
  display: flex;
  align-items: center;
  padding: 0;
}

.searchInput {
  padding: 0.2rem 0.8rem;
}

.inputExpansionAnimation {
  transition: width 0.3s ease;
}

.expandedPaper {
  @extend .root;
  background-color: white;

  .closeIcon {
    color: $dim-gray;
    cursor: pointer;
  }
}

.shrinkPaper {
  @extend .root;
  background-color: $light-blue !important;

  .searchIcon {
    color: white;
    cursor: pointer;
  }
}

.expandedInput {
  @extend .inputExpansionAnimation;
  @extend .searchInput;
  width: 15rem;
}

.shrinkInput {
  @extend .inputExpansionAnimation;
  @extend .searchInput;
  width: 10rem;
}