@import '../../../../assets//styles/global.scss';
@import '../../../../assets/styles/colors.module.scss';

.root {
  @extend .column;
  background-color: $light-gray;
  overflow-y: auto;
  margin-right: 1rem;

  .listTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
  }
}