.chooseLabelWrapper {
  .subheader {
    padding-top: 0.8rem;
    display: block;
  }

  .btn {
    text-transform: none;
    margin-top: 0.8rem;
  }

  .labelsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
  }
}