@import '../../../../assets/styles/colors.module.scss';

.droppable {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: auto;
  overflow-y: hidden;
}

.scrollbar-top-margin {
  border-top: 5px $auth-layout-background solid;
}

  /* width */
.droppable::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.droppable::-webkit-scrollbar-track {
  @extend .scrollbar-top-margin;
  background: $light-gray;
  box-shadow: inset 0 0 6px $dark-gray; 
}

/* Handle */
.droppable::-webkit-scrollbar-thumb {
  @extend .scrollbar-top-margin;
  background: $light-black;
  box-shadow: inset 0 0 6px $dark-gray;
}

/* Handle on hover */
.droppable::-webkit-scrollbar-thumb:hover {
  background: $dark-black;
} 