@import '../../../../assets/styles/colors.module.scss';

.root {

  .cropper {
    height: 15rem;
    width: 30rem;
    position: relative;

    .icon {
      position: absolute;
      z-index: 100;
      cursor: pointer;
      top: 0.2rem;
      right: 0.2rem;
      fill: $secondary-red;
      transition: fill 0.2s ease;

      &:hover {
        fill: $dark-secondary-red;
      }
    }
  }

  .controls {
    display: flex;
    flex-direction: column;

    .sliderWrapper {
      display: flex;
      align-items: center;
      margin-top: 0.4rem;

      .label {
        min-width: 65px;
      }

      .slider {
        margin-left: 16px;
      }
    }
  }
}