@import '../../../assets/styles/colors.module.scss';

.layout {
  height: 100%;
  background-color: $auth-layout-background;
  overflow: auto;
  position: relative;
  padding: 1.5rem;

  .spinner {
    position: absolute;
    margin-left: 50%;
    left: -25px; // Half the size of spinner
    margin-top: 2rem;
  }
}