@import '../../../../assets/styles/colors.module.scss';

.root {
  width: 25rem; // Card width
  margin: 2rem auto; // Center card horizontally

  .header {
    padding-bottom: 0;
  }

  // Style action buttons area
  .actions {
    padding: 0.5rem 16px;
    display: flex;
    justify-content: space-between;
  
    .btn {
      &:nth-child(1) {
        margin-right: 0.25rem;
      }

      &:nth-child(2) {
        margin-left: 0.25rem;
      }
    }

    .icon {
      cursor: pointer;
      color: $dim-gray;

      &:hover {
        color: darken($dim-gray, 20%);
      }

      &:nth-child(2) { // Add margin to the iconBtn in between
        margin: 0 0.8rem;
      }
    }
  }

  .titleInput {
    @extend .input;
    font-weight: 600;
  }

  .input {
    width: 100%;
  }
}