$auth-layout-background: #F9FAFC;
$error-color: #f44336;
$light-blue: #89CFF0;
$very-light-blue: #d4ebf2;
$dark-gray: #696969;
$medium-gray: rgba(9,30,66,.08);
$light-gray: #ebecf0;
$light-black: rgba(0, 0, 0, .15);
$dark-black: rgba(0, 0, 0, .20);
$black: #000;
$white: #FFF;
$medium-black: rgba(0, 0, 0, 0.87);

// Material UI
$default: rgba(0, 0, 0, 0.23);
$primary-blue: #3f51b5;
$secondary-red: #f50057;
$dark-secondary-red: #c51162;
$placeholder-gray: #d3d3d3;

:export {
  PrimaryBlue: $primary-blue;
  Black: $black;
  VeryLightBlue: $very-light-blue;
  White: $white;
}